* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    height: 840px;
    background-color: rgba(0, 0, 0, 1);
    
}

header {
    display: flex;
    flex-direction:  row;
    position: relative;
    width: 1170px;
    height: 107px;
    margin-left: 135px;
}

.title h2 {
    width: 103px;
    height: 19px;
    color: white;
    margin-left: 0;
    margin-top: 44px;
    /* position: absolute; */
}

.link {
    margin-top: 44px;
    margin-left: 771px;
    position: absolute;
}

.link a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-decoration: none;
    margin-right: 40px;
}

header button {
    width: 138px;
    height: 43px;
    font-size: 16px;
    font-weight: 600;
    color: #FFD600;
    background-color: rgba(255, 255, 255, 0.08);
    position: absolute;
    text-align: center;
    padding: 12px 24px;
    border: none;
    border-radius: 56px;
    margin-top: 32px;
    margin-left: 1032px;
}

hr {
    width: 1170px;
    margin: 1px 135px 0 135px;
    border: 2px solid rgba(255, 255, 255, 0.06)
}

main {
    display: flex;
    flex-direction: row;
}

.left {
    position: relative;
}

.left  h1 {
    width: 570px;
    height: 194px;
    font-size: 88px;
    font-weight: 600;
    line-height: 97px;
    color: white;
    position: absolute;
    margin-top: 114px;
    margin-left: 135px;
}

.left p {
    width: 570px;
    height: 71px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: white;
    position: absolute;
    margin-top: 332px;
    margin-left: 135px;
}

.left .yellow {
    width: 277px;
    height: 62px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: #FFD600;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 100px;
    margin-top: 451px;
    margin-left: 135px;
}

.left .black {
    width: 277px;
    height: 62px;
    font-size: 18px;
    font-weight: 600;
    color: #FFD600;
    background-color: rgba(255, 255, 255, 0.08);;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 100px;
    border: none;
}

.right {
    position: relative;
    width: 469px;
    height: 504px;
    margin-top: 60px;
    margin-left: 130px;
}
.right .ben {
    width: 298px;
    height: 330px;
    position: absolute;
    margin: 0;
    
    border-radius: 814px;
    z-index: 2;
}

.right .budka {
    width: 301px;
    height: 344px;
    position: absolute;
    margin-top: 160px;
    margin-left: 168px;
    /* background-color: rgba(255, 255, 255, 0.08); */
    border-radius: 0 0 814px 814px;
    z-index: 4;
}


.right .bubble {
    position: absolute;
    margin-top: 25px;
    margin-left: 212px;
    z-index: 6;
}

.right .bubble2 {
    position: absolute;
    margin-top: 363px;
    margin-left: 22px;
    z-index: 7;
}

.right .star {
    position: absolute;
    margin-top: 196px;
    margin-left: 151px;
    z-index: 5;
}

.right .budkabr {
    position: absolute;
    width: 301px;
    height: 300px;
    background: #111111;
    box-shadow: -16px -20px 28px rgba(0, 0, 0, 0.7);
    border-radius: 814px;
    z-index: 3;
    margin-top: 204px;
    margin-left: 168px;
}

.right .benbr {
    position: absolute;
    width: 298px;
    height: 298px;
    background: #111111;
    border-radius: 814px;
    margin-top: 31px;
    z-index: 1;
}